<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>toDOList</title>
    <script src="http://apps.bdimg.com/libs/vue/1.0.8/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- v-model:双向数据绑定 -->
        <input type="text" v-model="thing" />
        <!-- @事件绑定 -->
        <button @click="addList">提交</button>
        <ul>
            <!-- 列表渲染,key值要和v-for放在一起 ，数据绑定用:-->
            <!-- 渲染数据用{{}} -->
            <to-do :index=index :content=item v-for="(index,item) in arr" :key="index" track-by="$index" @delete="deleteItem"></to-do>
        </ul>
        <test></test>
    </div>
    <script>
        Vue.component("test",{
            data(){
                return {
                test:"i am a test man"
                }
            },
            template:"<p>{{test}}</p>"
        })
        // 全局组件不用注册
        // Vue.component("toDo",{
        //     props:['content'],
        //     template:"<li>{{content}} </li>"
        // })
        // 局部组件:定义==>引入（不在同一文件中要引入）===>注册
        let toDo = {
            props: ['content','index'],
            template: "<li @click='clickItem'>{{content}}</li>",
            methods: {
                clickItem(){
                    this.$emit("delete",this.index)
                }
            }
        }
        let app = new Vue({
            el: "#app",
            components: {
                toDo
            },
            data: {
                arr: [],
                thing: ''
            },
            methods: {
                addList() {
                    this.arr.push(this.thing);
                    this.thing = '';
                },
                deleteItem(index){
                    this.arr.splice(index,1)
                }
            }

        })
    </script>
</body>

</html>