
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "微软雅黑", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
html, body {
  font-family: "微软雅黑", "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
  background-color: #f1f1f1;
}
body {
  margin: 0;
}
ul, ol, li {
  list-style: none;
}

img{vertical-align: bottom; max-width: 100%;max-height: 100%; border: 0;}
p,ul,ol,li,h1,h2,h3,h4,h5,form,input,button,dl,dt,dd{
  margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; font-size: 12px;
}
button {
  border: none;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {-webkit-text-size-adjust:none;}
a, a:hover {text-decoration: none;color: #404951;}
a:focus, *:focus {outline: none;}
.hide {display: none;}
.block {display: block;}
.fl {float: left;}
.fr {float: right;}
.dib {display: inline-block;}
.field-check {
  -webkit-appearance: button;
  text-align: center;
  vertical-align: middle;
  outline: 0;
}
.field-check:checked {border: 0;}
.field-check:checked:before {
  vertical-align: top;
  position: relative;
  left: -1px;
}
aside,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

input {
  line-height: normal;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clearfix:after{
  display:block;
  clear:both;
  height:0;
  line-height:0;
  visibility:hidden;
  content:".";
  font-size:0;
}

/* 覆盖element-UI 样式*/
.daily .el-table th,.daily .el-table__header-wrapper thead div,.daily .el-table__footer-wrapper thead div{
  background: #ffffff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.el-table{
  font-size: 12px;
}
.el-menu--horizontal .el-submenu > .el-menu {
  border: none;
}

.el-menu--horizontal .el-submenu > .el-menu,
.el-menu--horizontal .el-submenu .el-menu-item{
  background-color: #324a57;
  color: #fff!important;
  text-align: center;
}
.el-menu--horizontal .el-menu-item span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover{
  background-color: #63def3;
}
.el-menu .el-submenu .el-menu-item:hover .router-text, .el-menu .el-submenu .el-submenu-title:hover .router-text{
  color: #fff;
}

 .el-menu > .el-submenu.is-active .el-submenu__title{
  border-bottom: 0;
}
#shishi .el-submenu__title i{
  display: none;
}
.el-menu .el-menu-item,.el-menu .el-submenu,.el-menu .el-submenu__title, .el-menu .is-active{
  color: #ffffff;
}

/*时间选择器*/
.el-time-spinner__list::after,
.el-time-spinner__list::before {
  height: 72px;
}

.router-link-active{
  color: #6ADEF3;
}
/* 小手 */
.cursor{
  cursor: pointer;
}
.cursor:hover{
  text-decoration:underline!important;
}

.charts-chunk {
  width: 1166px;
  background-color: #ffffff;
}
.charts-chunk .charts-title {
  background: #ffffff;
  height: 36px;
  line-height: 36px;
  padding-left: 9px;
  border-left: 4px solid #6ADEF3;
  border-bottom: 1px solid rgb(223, 233, 236);
}

/*!*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*!
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #E3E3E3;
}

!*定义滚动条轨道 内阴影+圆角*!
::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
}

!*定义滑块 内阴影+圆角*!
::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D6D6D6;
}*/
